*.log
defects4j_bug/
defects4j_fixed/
Mutants/GPT3.5/
*.sh
*.png
*.csv
coverage_result
outputdir
output/
evosuite-report
filtered_mutants
metainfo
*_coverage.py
evaluate.py
get_graph.py
generate_chat_unitest.py
generate_newdata.py
get_time_graph.py
pitest_generate.py
test2.py
test3.py
*.hprof
scatter.py
evosuite_gen.py
function_new.py
filter.py